body {
  line-height: 1.6;
  font-size: 16px;
  font-family: 'Playfair Display', serif;
  display: flex;
  justify-content: center;
}

.container {
  width: 50%;
  max-width: 1200px;
  margin-top: 10px;
}
.container h1, .container h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
}

.header h1, .header h2, .header h3 {
  margin-top: 0;
  margin-bottom: 0;
}

.header h1 {
  color: rgb(20, 198, 226);
  font-size: 32px;
}

.header h2 {
  font-size: 18px;
}

.header h3 {
  font-size: 16px;
  font-style: italic;
}